In [2]:
import pandas as pd

In [3]:
col_names = ['variance', 'skewness', 'curtosis', 'entropy', 'type']
banknote_dataset = pd.read_csv("resources\\data_banknote_authentication\\data_banknote_authentication.txt",
                               skiprows=1, delimiter=",", header=None, names=col_names)

banknote_dataset = banknote_dataset.sample(frac=1).reset_index(drop=True)

banknote_dataset.head()

   variance  skewness  curtosis  entropy  type
0    2.0153    1.8479   3.13750  0.42843     0
1    4.4069   10.9072  -4.57750 -4.42710     0
2   -3.6227    3.9958  -0.35845 -3.90470     1
3   -1.5851   -2.1562   1.70820  0.90170     1
4    2.7365   -5.0325   6.66080 -0.57889     0

In [4]:
red_wine_quality_ds = pd.read_csv(r"resources\wine_quality\winequality_red.csv", delimiter=";")

red_wine_quality_ds.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
appliance_energy_ds = pd.read_csv(r"resources\appliances_energy_prediction\energydata_complete.csv")

appliance_energy_ds = appliance_energy_ds.drop(columns=["date"])

target_col = "Appliances" 


appliance_energy_ds = appliance_energy_ds[[col for col in appliance_energy_ds.columns if col != target_col] + [target_col]]

appliance_energy_ds.head()

,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,Appliances
0,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433,60
1,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195,60
2,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668,50
3,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389,50
4,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097,60

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
features = banknote_dataset.iloc[:, :-1].values
targets = banknote_dataset.iloc[:, -1].values.reshape(-1,1)

TRAIN_DATASET_FEATURES, TEST_DATASET_FEATURES, TRAIN_DATASET_OUTCOMES, TEST_DATASET_OUTCOMES = train_test_split(features, targets, test_size=.2,random_state=42)

In [123]:
redwine_f = red_wine_quality_ds.iloc[:, :-1].values
redwine_t = red_wine_quality_ds.iloc[:, -1].values.reshape(-1,1)

redwine_train_f, redwine_test_f, redwine_train_o, redwine_test_o = train_test_split(redwine_f, redwine_t, test_size=.2, random_state=42)

In [9]:
appliance_energy_f = appliance_energy_ds.iloc[:, :-1].values
appliance_energy_o = appliance_energy_ds.iloc[:, -1].values.reshape(-1,1)

appliance_energy_train_f, appliance_energy_test_f, appliance_energy_train_o, appliance_energy_test_o = train_test_split(
    appliance_energy_f, appliance_energy_o, test_size=.2, random_state=42)

In [117]:
import importlib
import decision_tree as decit
import random_forest as ranfor

importlib.reload(decit)
importlib.reload(ranfor)

d:\dev\Pred_&_ML_tutorial_model_building\src\decision_tree.py:339: SyntaxWarning: invalid escape sequence '\d'
  if __name__ == "__main__":

In [127]:
reg_tree = decit.Decision_Tree(max_depth=5, mode="regression", thresh_quantile_opt=False)

reg_tree.fit(redwine_train_f, redwine_train_o)

In [124]:
regressor_mk2 = ranfor.Random_Forest(tree_max_depth=6, mode="regression", tree_thresh_quantile_opt=False, 
                                     n_trees=100, random_state=42)

regressor_mk2.fit(redwine_train_f, redwine_train_o, decit.Decision_Tree)

In [108]:

from sklearn.metrics import accuracy_score

In [56]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, root_mean_squared_error

In [125]:
redwine_pred = regressor_mk2.predict_from_dataset(redwine_test_f)

In [109]:
redwine_pred = reg_tree.predict_from_dataset(redwine_test_f)

In [126]:
accuracy_score(redwine_test_o, redwine_pred)

0.58125

In [70]:
appliance_energy_ds_mae = mean_absolute_error(redwine_test_o, redwine_pred)
appliance_energy_ds_mse = mean_squared_error(redwine_test_o, redwine_pred)
appliance_energy_ds_rmse = root_mean_squared_error(redwine_test_o, redwine_pred)
appliance_energy_ds_r2 = r2_score(redwine_test_o, redwine_pred)

print(f"MAE:{appliance_energy_ds_mae}")
print(f"MSE:{appliance_energy_ds_mse}")
print(f"RMSE:{appliance_energy_ds_rmse}")
print(f"R2-SCORE:{appliance_energy_ds_r2}")

MAE:0.5619947738275931
MSE:0.45994108048227167
RMSE:0.6781895608768036
R2-SCORE:0.29619440455797885