In [2]:
import pandas as pd

In [273]:
col_names = ['variance', 'skewness', 'curtosis', 'entropy', 'type']
banknote_dataset = pd.read_csv("resources\\data_banknote_authentication\\data_banknote_authentication.txt",
                               skiprows=1, delimiter=",", header=None, names=col_names)

banknote_dataset = banknote_dataset.sample(frac=1).reset_index(drop=True)

banknote_dataset.head()

   variance  skewness  curtosis  entropy  type
0   3.82440  -3.10810   2.45370  0.52024     0
1   0.88444   6.59060   0.55837 -0.44182     0
2  -2.74190  11.40380   2.53940 -5.57930     0
3   0.32920  -4.45520   4.57180 -0.98880     0
4   3.99940   0.90427   1.16930  1.68920     0

In [4]:
red_wine_quality_ds = pd.read_csv(r"resources\wine_quality\winequality_red.csv", delimiter=";")

red_wine_quality_ds.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
appliance_energy_ds = pd.read_csv(r"resources\appliances_energy_prediction\energydata_complete.csv")

appliance_energy_ds = appliance_energy_ds.drop(columns=["date"])

target_col = "Appliances" 


appliance_energy_ds = appliance_energy_ds[[col for col in appliance_energy_ds.columns if col != target_col] + [target_col]]

appliance_energy_ds.head()

,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,Appliances
0,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433,60
1,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195,60
2,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668,50
3,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389,50
4,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097,60

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
features = banknote_dataset.iloc[:, :-1].values
targets = banknote_dataset.iloc[:, -1].values.reshape(-1,1)

TRAIN_DATASET_FEATURES, TEST_DATASET_FEATURES, TRAIN_DATASET_OUTCOMES, TEST_DATASET_OUTCOMES = train_test_split(features, targets, test_size=.2,random_state=42)

In [156]:
redwine_f = red_wine_quality_ds.iloc[:, :-1].values
redwine_t = red_wine_quality_ds.iloc[:, -1].values.reshape(-1,1)

redwine_train_f, redwine_test_f, redwine_train_o, redwine_test_o = train_test_split(redwine_f, redwine_t, test_size=.2, random_state=72)

In [9]:
appliance_energy_f = appliance_energy_ds.iloc[:, :-1].values
appliance_energy_o = appliance_energy_ds.iloc[:, -1].values.reshape(-1,1)

appliance_energy_train_f, appliance_energy_test_f, appliance_energy_train_o, appliance_energy_test_o = train_test_split(
    appliance_energy_f, appliance_energy_o, test_size=.2, random_state=42)

In [277]:
import importlib
import decision_tree as decit
import random_forest as ranfor

importlib.reload(decit)
importlib.reload(ranfor)

d:\dev\Pred_&_ML_tutorial_model_building\src\decision_tree.py:335: SyntaxWarning: invalid escape sequence '\d'

In [226]:
reg_tree = decit.Decision_Tree(max_depth=5, mode="classify", thresh_quantile_opt=False)

reg_tree.fit(redwine_train_f, redwine_train_o)

In [278]:
rf_classifier = ranfor.Random_Forest(tree_max_depth=15, mode="classify", tree_thresh_quantile_opt=True, 
                                     n_trees=300, random_state=42, weigh_predictions=True)

rf_classifier.fit(TRAIN_DATASET_FEATURES, TRAIN_DATASET_OUTCOMES, decit.Decision_Tree)

In [108]:

from sklearn.metrics import accuracy_score

In [56]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, root_mean_squared_error

In [279]:
banknote_pred = rf_classifier.predict_from_dataset(TEST_DATASET_FEATURES)

print(banknote_pred)

In [270]:
redwine_pred = rf_classifier.predict_from_dataset(redwine_test_f)

print(redwine_pred)

[5.43723112 5.50827784 5.70550254 5.43188379 5.21096894 5.67017084
 5.59808587 5.56193937 5.83880251 5.94643579 5.24103426 5.21482651
 5.97209315 5.25537083 6.88018797 5.58786755 6.30331862 5.61279834
 5.53773587 5.55899211 5.77214892 5.69658772 5.40015757 5.33379085
 5.80603866 5.32453706 5.59374132 6.38813747 5.33413885 5.26071332
 5.98814471 5.16524807 5.5784039  5.24901485 5.63980032 6.39467212
 5.62637939 5.71035158 5.9492826  5.32970784 5.37557694 5.89188064
 6.02462476 5.64577856 5.30748933 6.29197564 5.24643563 5.90139427
 5.95485406 5.67017084 5.50608559 5.85842527 5.85743451 5.537818
 5.63816298 5.32352424 5.37279138 5.39622754 5.34069947 5.67337557
 5.91262607 5.80745948 5.30977614 5.80167986 5.97947253 5.6255152
 6.19038816 6.05024385 5.27377036 5.40605735 6.04521282 5.73430925
 6.6475925  5.72732543 5.4839554  5.30703464 6.12077393 5.52995971
 5.66549091 5.83990563 5.99639362 5.37778468 5.25359893 5.24218975
 5.32890903 5.68070917 5.46320689 5.77017633 5.93149043 5.63048851
 6.49280442 5.75413461 5.98452115 5.8998409  5.56158738 5.86609972
 5.6291781  5.19088805 5.64841181 5.6371825  6.07118047 5.40015757
 5.4815166  5.7519498  5.5449065  6.22394873 5.3067616  5.47047936
 5.93096328 5.79861164 5.17170287 5.29347162 5.96460326 5.37791683
 5.17830785 5.36835926 5.36495251 5.6102985  5.66216537 6.39255881
 5.26574485 5.3373914  5.94884992 6.88768234 5.57279743 5.91417895
 6.16321226 5.08361198 5.43518833 5.32767991 5.26625533 5.47210632
 5.76985363 5.63903315 5.61707148 5.35960518 5.81896159 5.29850674
 5.06069042 6.08994057 5.44994636 6.24300207 6.01966749 5.80391119
 5.57685196 5.31934311 5.27749791 5.92903675 5.30151227 6.21966931
 5.2735703  5.37494605 5.40271475 5.87387662 6.00343801 6.01407739
 5.65608765 5.54934628 5.46440446 5.46027828 5.06595672 5.28106836
 5.25594028 5.82468704 6.10129826 5.12948359 5.62712395 5.67196943
 5.57888815 5.62794207 5.47210632 6.43200358 5.3552066  5.13819907
 5.64067071 5.74440533 5.30748933 5.57981339 5.75614948 5.81705221
 5.5657575  6.94184267 5.81759549 6.09061692 5.35691294 5.2498046
 5.83923588 5.9808414  5.35648224 5.59524686 5.23468001 5.2043242
 5.36264237 5.78025552 6.02485612 5.24434442 5.29001486 5.79234151
 5.73014203 6.08406261 5.77214892 5.50281808 5.05724112 5.63122402
 6.04438068 5.43824684 5.24678163 5.96251066 5.29347162 5.42719245
 6.43512958 5.55986636 6.22131155 5.28802646 5.39252071 5.3067616
 6.00352429 5.43824684 5.95123303 5.42883869 5.32584848 6.72321119
 5.10275408 5.23592801 5.29875617 5.15914791 5.99106423 5.95685574
 5.65953002 5.80217704 5.46170119 5.49491803 5.84506488 5.17720008
 5.85531326 5.37233939 5.26631941 5.99777652 5.30039703 5.29932088
 6.69954924 5.44293111 7.05297674 5.68022899 5.23102041 5.30910672
 5.24198439 6.01186646 5.80109416 5.61564125 5.48829792 5.6438479
 5.87924824 5.38463247 5.51461608 5.58969477 6.01120037 5.8942709
 5.43188379 5.28734158 5.99036051 5.49580395 5.26253706 5.45887397
 5.38823783 5.74486589 5.44667216 5.28807461 5.89592414 5.63239755
 6.10454027 5.76590223 5.40146778 5.53264527 5.38397141 5.81438359
 5.59184713 6.7965105  5.18930866 5.68340734 5.41445017 5.39951239
 5.970964   5.36139401 5.76186234 5.75977832 5.27198219 5.95020536
 5.30748933 6.63005088 6.22131155 6.36371824 5.80088999 6.28866874
 5.7574157  5.46573517 5.46143038 5.82665612 5.80515057 5.17703654
 5.50995911 5.84935639 5.44794979 5.23165514 5.30893322 5.34531365
 5.52814216 5.65698171 5.99996013 6.06455348 5.37895355 5.84086701
 5.35525512 5.74272574 5.85590413 5.69119327 5.68333582 5.6606527
 5.31814453 6.20525153]

In [228]:
redwine_pred = reg_tree.predict_from_dataset(redwine_test_f)

print(redwine_pred)

[np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(6.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(6.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(7.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(4.0), np.float64(6.0), np.float64(6.0), np.float64(6.0), np.float64(6.0), np.float64(6.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(3.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(4.0), np.float64(7.0), np.float64(6.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(6.0), np.float64(7.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(3.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(7.0), np.float64(6.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(6.0), np.float64(6.0), np.float64(6.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(7.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(7.0), np.float64(7.0), np.float64(7.0), np.float64(5.0), np.float64(7.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(7.0), np.float64(7.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(6.0), np.float64(7.0), np.float64(5.0), np.float64(6.0), np.float64(5.0), np.float64(5.0), np.float64(6.0), np.float64(6.0), np.float64(5.0), np.float64(6.0), np.float64(4.0), np.float64(6.0)]

In [256]:
accuracy_score(TEST_DATASET_OUTCOMES, banknote_pred)

0.63125

In [271]:
mae = mean_absolute_error(redwine_test_o, redwine_pred)
mse = mean_squared_error(redwine_test_o, redwine_pred)
rmse = root_mean_squared_error(redwine_test_o, redwine_pred)
r2 = r2_score(redwine_test_o, redwine_pred)

print(f"MAE:{mae}")
print(f"MSE:{mse}")
print(f"RMSE:{rmse}")
print(f"R2-SCORE:{r2}")

MAE:0.4743835491034319
MSE:0.38170310442622163
RMSE:0.6178212560492085
R2-SCORE:0.4048149427716178